{{!
    Copyright 2016 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
}}
<div data-component-id="{{id}}" data-scf-component="we-retail/components/hbs/reviews">
    <div class='scf-comment-system scf-reviews we-Comments'>
        <ul class='scf-comments-list'>
            {{#each items}}
                {{#if isVisible}}
                    {{include this resourceType='we-retail/components/hbs/reviews/review'}}
                {{/if}}
            {{/each}}
        </ul>

        <div class="text-center">
            <ul class="pagination">
                {{#pages pageInfo}}
                    <li class="{{#if currentPage}}active{{/if}}">
                        <a data-page-suffix="{{suffix}}" evt="click=navigate">{{pageNumber}}</a>
                    </li>
                {{/pages}}
            </ul>
        </div>

        {{#if loggedInUser.loggedIn}}
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-action btn-primary scf-create-review-button" evt="click=toggleCreateReviewForm" >Write a review</button>
                </div>
            </div>
            <div class="scf-review-form scf-composer-block we-Comments-composer scf-js-composer-block">
                <img class="scf-composer-avatar" src="{{loggedInUser.avatarUrl}}"/>
                <form evt="submit=addReview" class="scf-composer scf-review-composer">
                    <div class="scf-review-form-label-bold">Review this:
                        {{#if compositeRating}}{{else}}&nbsp;*{{/if}}
                    </div>
                    {{#each allowedRatings}}
                        <div class="scf-review-form-label">
                            {{#if ../compositeRating}}{{this.name}}
                                {{#if this.required}}&nbsp;*:{{/if}}
                            {{/if}}
                        </div>
                        <div>
                            <div class='we-Rating'>
                                <div class="we-Starsbar" data-rating-shown="0-0">
                                    <i class="we-Star" data-type='{{this.name}}' data-rating-value="5" evt="click=rate,mouseenter=highlight "></i>
                                    <i class="we-Star" data-type='{{this.name}}' data-rating-value="4" evt="click=rate,mouseenter=highlight "></i>
                                    <i class="we-Star" data-type='{{this.name}}' data-rating-value="3" evt="click=rate,mouseenter=highlight "></i>
                                    <i class="we-Star" data-type='{{this.name}}' data-rating-value="2" evt="click=rate,mouseenter=highlight "></i>
                                    <i class="we-Star" data-type='{{this.name}}' data-rating-value="1" evt="click=rate,mouseenter=highlight "></i>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <br/>
                    {{#if configuration.isRTEEnabled}}
                        <textarea class="scf-composer-msg scf-rte-placeholder" placeholder="{{i18n "Write a comment"}}" evt="click=expandComposer"></textarea>
                        <div class="scf-rte-composer">
                            <textarea class="we-Comments-composer-msg" data-attrib="message" data-field-type="rte" name="message" placeholder="{{i18n "Write a comment"}}"></textarea>
                        </div>
                    {{else}}
                        <textarea class="we-Comments-composer-msg" data-attrib="message" name="message" placeholder="{{i18n "Write a comment"}}"></textarea>
                    {{/if}}
                    <div class='scf-composer-toolbar'>
                        {{#if configuration.isAttachmentAllowed}}
                            <button class="scf-composer-action scf-composer-attach" evt="click=openAttachmentDialog">{{i18n "Attach"}}</button>
                            <input class="scf-comment-attachment-input scf-js-cmt-att-input" type="file" data-attrib='attachment' name="attachment" multiple evt="change=renderAttachmentList" />
                        {{/if}}
                        <div class="scf-composer-actions">
                            <button type="reset" class="btn btn-default scf-composer-action" evt="click=cancelComposer">{{i18n "Cancel"}}</button>
                            <button type="submit" class="btn btn-primary" evt="submit=addReview">{{i18n "Post"}}</button>
                        </div>
                        {{#if configuration.isAttachmentAllowed}}
                            <div class="scf-composer-attachments">
                                <ul class="scf-attachment-list scf-js-composer-att"></ul>
                            </div>
                        {{/if}}
                    </div>
                </form>
            </div>
        {{/if}}
    </div>
</div>
