{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="we-Comments-item {{#if _isNew}}scf-is-new{{/if}}" data-component-id="{{id}}" data-scf-component='we-retail/components/hbs/comments/comment'>

    <div class="row">
        <div class="col-md-1">
            <div class="we-Comments-avatar">
                <img src="{{author.avatarUrl}}" alt="{{author.name}}">
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-sm-8">
                    <a class="we-Comments-name" href="{{author.profileUrl}}">{{author.name}}</a>
                </div>
                <div class="col-sm-4 text-right">
                    {{#if created}}<time class="we-Comments-date">{{pretty-time created}}</time>{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="we-Comments-content">
                        <div data-translate-prop="jcr:description" data-translate-respath="{{id}}">
                            {{#if this.configuration.isRTEEnabled}}
                                {{#if showingTranslation}}
                                    {{#if displaySideBySide}}
                                        <div>{{{message}}}</div>
                                    {{/if}}
                                    {{{translationDescription}}}
                                {{else}}
                                    {{{message}}}
                                {{/if}}
                            {{else}}
                                {{#if showingTranslation}}
                                    {{#if displaySideBySide}}
                                        <div>{{{message}}}</div>
                                    {{/if}}
                                    {{{translationDescription}}}
                                {{else}}
                                    {{{message}}}
                                {{/if}}
                            {{/if}}
                        </div>
                        {{#if this.configuration.isAttachmentAllowed}}
                            {{#if attachments}}
                                <div class="scf-comment-attachments">
                                    {{#each attachments}}

                                        {{#if this.image}}
                                            <div class="scf-comment-img-att">
                                                <img src="{{this.path}}" class="scf-comment-attachment-img" />
                                                <div class="scf-comment-att-name"><a href="{{this.path}}" target="_blank" class="scf-link">{{name}}</a></div>
                                            </div>
                                        {{else}}
                                            <div class="scf-comment-att scf-icon-attachment scf-small "><a class="scf-link scf-comment-att-link" href="{{this.path}}" target="_blank">{{this.name}}</a></div>
                                        {{/if}}

                                    {{/each}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                    <ul class="we-Comments-reactions">
                        <div class="scf-comment-votes">
                            {{include this.votes resourceType='social/tally/components/hbs/voting'}}
                        </div>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="we-Comments-ratings">
                        <li>
                            <div class="we-Rating"> <!-- TODO: add rating component -->
                                <span class="we-Rating-desc">Overall:</span>
                                {{include this.votes resourceType='we-retail/components/hbs/rating'}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>