{{!
    Copyright 2016 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
}}
<li class="we-Comments-item {{#if _isNew}}scf-is-new{{/if}}" data-component-id="{{id}}" data-scf-component='we-retail/components/hbs/reviews/review'>

    <div class="row">
        <div class="col-md-1">
            <div class="we-Comments-avatar">
                <img class="scf-comment-avatar" src="{{author.avatarUrl}}" alt="{{author.name}}"/>
            </div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-sm-8">
                    <a class="we-Comments-name" href="{{author.profileUrl}}">{{author.name}}</a>
                </div>
                <div class="col-sm-4 text-right">
                    {{#if created}}<time class="we-Comments-date">{{pretty-time created}}</time>{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="we-Comments-content">
                        <div data-translate-prop="jcr:description" data-translate-respath="{{id}}">
                            {{#if this.configuration.isRTEEnabled}}
                                {{#if showingTranslation}}
                                    {{#if displaySideBySide}}
                                        <div>{{{message}}}</div>
                                    {{/if}}
                                    {{{translationDescription}}}
                                {{else}}
                                    {{{message}}}
                                {{/if}}
                            {{else}}
                                {{#if showingTranslation}}
                                    {{#if displaySideBySide}}
                                        <div>{{{message}}}</div>
                                    {{/if}}
                                    {{{translationDescription}}}
                                {{else}}
                                    {{{message}}}
                                {{/if}}
                            {{/if}}
                        </div>
                        {{#if this.configuration.isAttachmentAllowed}}
                            {{#if attachments}}
                                <div class="scf-comment-attachments">
                                    {{#each attachments}}

                                        {{#if this.image}}
                                            <div class="scf-comment-img-att">
                                                <img src="{{this.path}}" class="scf-comment-attachment-img" />
                                                <div class="scf-comment-att-name"><a href="{{this.path}}" target="_blank" class="scf-link">{{name}}</a></div>
                                            </div>
                                        {{else}}
                                            <div class="scf-comment-att scf-icon-attachment scf-small "><a class="scf-link scf-comment-att-link" href="{{this.path}}" target="_blank">{{this.name}}</a></div>
                                        {{/if}}

                                    {{/each}}
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>

                    <div class="we-Comments-reactions">
                        {{include this.voting resourceType='we-retail/components/hbs/voting'}}
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class='we-Comments-ratings we-Rating'>
                        {{#each ratingResponses}}
                            <li>
                                {{#if ../compositeRating}}{{@key}}{{/if}}
                                <div class="we-Starsbar" data-rating-shown="{{#if this}}{{xss-htmlAttr this}}{{else}}0{{/if}}">
                                    <i class="we-Star"></i>
                                    <i class="we-Star"></i>
                                    <i class="we-Star"></i>
                                    <i class="we-Star"></i>
                                    <i class="we-Star"></i>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>
